@font-face {
    font-family: "Game Paused DEMO";
    src: url("../fonts/Game_Paused.ttf");
}

.root {
    -fx-font-family: "Game Paused DEMO";
    -fx-font-size: 40px;
}

.big-label {
    -fx-font-size: 60px;
}

.small-label {
    -fx-font-size: 20px;
}

.italic-label {
    -fx-font-style: italic;
}

.tiny-label {
    -fx-font-size: 14px;
}


/* button styles and animations */
.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-opacity: 0.85;
}

.button {
    -fx-background-radius: 6px;
    transition: -fx-scale-x 0.08s, -fx-scale-y 0.08s;
}

.button:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}